body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #cfd9df, #e2ebf0);
  margin: 0;
  padding: 0;
   justify-content: center;
}

.profile-container {
  max-width: 800px;
  margin: 40px auto;
  background: white;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
 
}

.profile-header {
  text-align: center;
  margin-bottom: 30px;
}

.profile-img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 4px solid #3498db;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.profile-header h1 {
  margin-top: 15px;
  font-size: 28px;
  color: #333;
}

.bio {
  color: #555;
  margin: 8px 0;
}

.section {
  margin-top: 25px;
}

.section h2 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #2c3e50;
}

.section ul {
  list-style: none;
  padding: 0;
}

.section li {
  background: #f8f9fa;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 8px;
  color: #444;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.section p {
  line-height: 1.6;
  color: #444;
  margin: 0;
}

.education-item {
  margin-bottom: 20px;
}

.education-item h3 {
  margin-bottom: 5px;
  color: #2c3e50;
}



.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.skill-category h4 {
  margin-bottom: 5px;
  color: #2c3e50;
  font-size: 18px;
}

.skill-category ul {
  list-style: none;
  padding: 0;
}

.skill-category li {
  background: #f8f9fa;
  margin-bottom: 5px;
  padding: 5px 10px;
  border-radius: 4px;
  color: #444;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}

.social-links {
  margin-top: 25px;
  text-align: center;
}

.social-links a {
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  color: #3498db;
  transition: 0.3s;
}

.social-links a:hover {
  color: #2c3e50;
}
